body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #d4d4d4;
}

header {
    background-color: #007acc;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #61dafb;
}

main {
    padding: 20px;
}

#projects {
    text-align: center;
}

.github-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.repo-card {
    background-color: #2e2e2e;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.repo-card h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.repo-card h3 a {
    color: #61dafb;
    text-decoration: none;
}

.repo-card h3 a:hover {
    text-decoration: underline;
}

.repo-card p {
    margin: 0;
    line-height: 1.6;
}

.repo-card .repo-description {
    margin: 10px 0;
}

.repo-card .repo-info {
    font-size: 0.9em;
    color: #9e9e9e;
}

footer {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1 {
    color: #61dafb;
}
